// Colors 
$alpha: #DEFF00; // Primary color */
$alpha100: #D3D944;
$beta: #45B1E8; // Complementary color
$font-dark:#747376;
$font-light:#C6C5C6;
$title-dark:#000000;
$title-light:#333333;
$background-light:#F7F7F7;

.title{
    font-family: shaft-h1;
}
.h1-font {
    font-family: LHF Asylum;
    font-style: normal;
    font-weight: 800;
}

.h2-font {
    font-family: LHF Asylum;
    font-style: normal;
    font-weight: bold;
}

.h3-font {
    font-family: MensuraBold;
    font-style: normal;
    font-weight: 500;
}

.h4-font {
    font-family: MensuraBold;
    font-style: normal;
    font-weight: 600;
}

.h5-font {
    font-family: MensuraLight;
    font-style: normal;
    font-weight: 500;
}

.h6-font {
    font-family: MensuraLight;
    font-style: normal;
    font-weight: 500;
}

.body-font {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
}

